html, body {
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
}
* {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.ExternalClass {
	width: 100%;
}
div[style*="margin: 16px 0"] {
	margin: 0 !important;
}

table {
	border-spacing: 0 !important;
	border-collapse: collapse !important;
	table-layout: fixed !important;
	margin: 0 auto !important;
}
table table table {
	table-layout: auto;
}
.yshortcuts a {
	border-bottom: none !important;
}
a[x-apple-data-detectors] {
	color: inherit !important;
}
.button-td, .button-a {
	transition: all 100ms ease-in;
}
.button-td:hover, .button-a:hover {
	background: #555555 !important;
	border-color: #555555 !important;
}
td {
	padding: 10px;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #555555;
}
button {
  background: #222222; 
  border: 5px solid #222222; 
  padding: 0 10px;color: #ffffff; 
  font-family: sans-serif; font-size: 13px; 
  line-height: 1.1; 
  text-align: center; 
  text-decoration: none; 
  display: block; 
  border-radius: 3px; 
  font-weight: bold;
}