* {
    box-sizing: border-box; 
   }
   body {
     margin: 0;
   }
   #main {
     display: flex;
     min-height: calc(100vh - 40vh);
   }
   #main > article {
     flex: 1;
   }
   #main > nav, 
   #main > aside {
     flex: 0 0 20vw;
     background: beige;
   }
   #main > nav {
     order: -1;
   }
   header, footer, article, nav, aside {
     padding: 1em;
   }
   header, footer {
     background: rgb(95, 69, 161);
     height: 20vh;
   }
  
   .button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    .button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     .button1{
    display:block;
    margin:0.4em auto;
    }}